.contact-wrapper{
  display:flex;
  flex-direction:column-reverse;
  font-size: 1.1rem;

  &>div{
    padding:0.5rem;
    margin:1rem 0;
  }




  @media only screen and (min-width: $breakpoint-md){
    flex-direction:row-reverse;
  }
  
}


.contact-form-wrapper{
  flex:2;
  
  form > div{
    display:flex;
    flex-direction:column;    
  }  

  input[type=text], textarea, input[type=email] {
    font-family: Work Sans,sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid $accent-color;
  }

  button{
    font-family: Work Sans,sans-serif;
    width:100%;
    border-radius: 3px;
    background-color: $accent-color;
    color: white;
    padding: 15px 32px;
    transition:all 0.4s;
    margin: 1rem 0;
    font-size: 1rem;
    cursor: pointer;
    border:none;
    box-sizing:border-box;

    &:hover{
      background-color: white;
      color: black;
      border: 2px solid $accent-color;
    }
  }
}

.contact-details{
  flex:2;
  padding:2rem 1rem;
 
  
  .contact-node{
    display: flex;
    align-items: center;
    margin-top:1rem;
  }

  a{
    color:inherit;
  }

  @media only screen and (min-width: $breakpoint-md){

  }

  
}

.icon-holder{
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background: $accent-color;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0 1rem;

  *{
    color:white;
  }
}