.experience{
  display:flex;
  align-items:flex-start;
  justify-content:space-between;
  flex-direction: column-reverse;
  padding:10px;

  border-top:1px solid $grey;

  img{
    width: 120px;
    height:100%;
    margin:2rem;
    align-self: center;

  }

  @media only screen and (min-width: $breakpoint-sm){
    flex-direction: row;
  }
}


.experience-info{
  h3 span, h4 span{
    display: block;
    @media only screen and (min-width: $breakpoint-md){
      display:unset;
    }
  }
}

.experience-description{
  text-align:justify;
}

