.projects-list-wrapper{
  display:flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;

  @media only screen and (min-width: $breakpoint-sm){
    flex-direction: row;
  }
}

.project{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin:5px;
  border: 1px solid #efefef;
  border-radius: 3px;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  transition: all .3s ease;
  width:100%;

  &:hover{
    box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
  }

  
  @media only screen and (min-width: $breakpoint-sm){
    flex-direction: row;
  }
}

.project-image-wrapper {
  position: relative;
  // display: flex;
  // flex:1;
  // width: 80%;

  @media only screen and (min-width: $breakpoint-md){

  }
}

.project-image {
  width:100%;
  border:1px solid $grey;

  // filter: blur(1px) grayscale(80%);  
  // transition: all 0.5s;
  // &:hover{
  //   filter: none;
  // }

  @media only screen and (min-width: $breakpoint-sm){
    width:300px;
  }
}

.project-links{
  width:100%;
  position: absolute;
  bottom: 3px;
  left: 5px;

  display:flex;
  justify-content: flex-start;
  opacity: 0.95;

  a{
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color:white;
    font-weight:600;
  
    cursor: pointer;
    padding:5px;
    background-color:$accent-color;
    border-radius: 5px;
  
    position: relative;
    top:0;

    &:hover{
      top:-1px;
    }

    &:not(:last-child){
      margin-right: 10px;
    }
    
  }
  
}


.project-details{
  padding:5px 20px;
  overflow: hidden;
  // text-overflow: ellipsis;
  align-self: center;


  @media only screen and (min-width: $breakpoint-md){
    padding:10px 30px 20px 30px;
  }
}

.project-tags{  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  font-size: 0.7rem;
  line-height: 1.2;
  color: $accent-color;
  
  span{
    opacity:0.7;
    &:hover{
      opacity: 1;
    }
  }
  span:not(:last-child){
    margin-right:10px;
  }
}

.project-title{
  margin:5px 0;
}

.project-description{
  font-size:0.8rem; 
  text-align: justify;
}