@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

$accent-color: #1ca086;

$grey:rgb(239, 239, 239);


$breakpoint-md: 768px;
$breakpoint-sm: 500px;

html {
  box-sizing: border-box;
  margin-left: calc(100vw - 100%);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: Work Sans,sans-serif;
  color:#666666;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  font-weight: 600;
  color:#444444;
}

.italic{
  font-style: italic;
}

.opaque{
  opacity: 0.5;
}

.section{
  // min-height:100vh;
  margin:4rem 0.5rem 0 0.5rem;

  @media only screen and (min-width: $breakpoint-sm){
    margin: 5rem 1rem;
  }

  @media only screen and (min-width: $breakpoint-md){
    margin: 1rem 0 4rem 0;
  }
}

.section h2{
  text-transform:uppercase;
  letter-spacing:3px;
}